{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Secret Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body class="container d-flex flex-column vh-100">
        <div class="d-flex flex-column w-100">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert
                                {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
            <h2>You're looking at the secret page.</h2>
            <form action="{{ logout_url }}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </body>
</html>
