/*

  Please rename this file to google_button.css to override works.
  This CSS is compatible with Django Unfold CSS

  login-btn
  ---------------------------------
  | --------------                 |
  | | btn-logo   |    btn-label    |
  | --------------                 |
  ----------------------------------
*/

/* Login Button Area */
.login-btn-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 382px;
}

/* Goggle Login Button */
.google-login-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9233e7;
    border-radius: 6px;
    padding: 2px;
    margin-bottom: 20px;
    width: 100%;
    height: 38px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* Google Login Button Hover */
.google-login-btn:hover {
    background-color: #254f89;
}

/* Google Login Button Remove Decoration */
.google-login-btn a {
    text-decoration: none;
}

/* Google Login Button Logo Area */
.google-btn-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
}


/* Google Login Button Label Area */
.google-btn-label {
    color: #ffffff;
    margin-top: -1px;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}
